image: raatiniemi/android-environment:latest

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - bin/build
  artifacts:
    paths:
      - app/build/outputs/
  tags:
   - docker

test:
  stage: test
  script:
    - bin/test
  artifacts:
    paths:
      - app/build/outputs/
  except:
    - tags
  tags:
    - docker

instrumentation:
  stage: test
  script:
    - bin/start-emulator
    - bin/instrumentation
  except:
    - tags
  tags:
    - docker

sonar:
  stage: test
  script:
    - bin/sonar
  artifacts:
    paths:
      - app/build/outputs/
  only:
    - tags
  tags:
    - docker

deploy:
  stage: deploy
  script:
    - bin/deploy
  artifacts:
    paths:
      - app/build/outputs/
  only:
    - tags
  tags:
    - docker
