<?xml version="1.0" encoding="utf-8"?>
<androidx.preference.PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <androidx.preference.PreferenceCategory android:title="@string/activity_settings_preferences">

        <Preference
            android:key="settings_project"
            android:title="@string/activity_settings_project"
            app:fragment="me.raatiniemi.worker.features.settings.project.view.ProjectFragment" />

        <Preference
            android:key="settings_data"
            android:title="@string/activity_settings_data"
            app:fragment="me.raatiniemi.worker.features.settings.data.view.DataFragment" />

    </androidx.preference.PreferenceCategory>

</androidx.preference.PreferenceScreen>
