<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.raatiniemi.worker"
    >

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        />

    <application
        android:name=".WorkerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:label="@string/name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme"
        android:supportsRtl="true"
        >

        <activity
            android:name="me.raatiniemi.worker.features.projects.view.ProjectsActivity"
            >

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN"
                    />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    />

            </intent-filter>

        </activity>

        <activity
            android:name="me.raatiniemi.worker.features.project.view.ProjectActivity"
            android:parentActivityName="me.raatiniemi.worker.features.projects.view.ProjectsActivity"
            />

        <activity
            android:name="me.raatiniemi.worker.features.settings.view.SettingsActivity"
            android:parentActivityName="me.raatiniemi.worker.features.projects.view.ProjectsActivity"
            />

        <provider
            android:label="@string/name"
            android:name=".data.provider.WorkerProvider"
            android:authorities="me.raatiniemi.worker"
            android:syncable="false"
            android:exported="false"
            />

        <service
            android:name=".data.service.data.BackupService"
            android:exported="false"
            />

        <service
            android:name=".data.service.data.RestoreService"
            android:exported="false"
            />

        <service
            android:name=".data.service.ongoing.PauseService"
            android:exported="false"
            />

        <service
            android:name=".data.service.ongoing.ClockOutService"
            android:exported="false"
            />

        <service
            android:name=".data.service.ongoing.ResumeService"
            android:exported="false"
            />

        <service
            android:name=".data.service.ongoing.ReloadNotificationService"
            android:exported="false"
            />

        <service
            android:name=".data.service.ongoing.ProjectNotificationService"
            android:exported="false"
            />

    </application>

</manifest>
