<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2019 Tobias Raatiniemi
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, version 2 of the License.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.raatiniemi.worker">

    <application
        android:name=".WorkerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/name"
        android:supportsRtl="true"
        android:theme="@style/Theme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="me.raatiniemi.worker.features.home.view.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".data.service.ongoing.PauseService"
            android:exported="false" />

        <service
            android:name=".data.service.ongoing.ClockOutService"
            android:exported="false" />

        <service
            android:name=".data.service.ongoing.ResumeService"
            android:exported="false" />

        <service
            android:name=".data.service.ongoing.ReloadNotificationService"
            android:exported="false" />

        <service
            android:name=".data.service.ongoing.ProjectNotificationService"
            android:exported="false" />

    </application>

</manifest>
