<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.raatiniemi.worker"
    >

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        />

    <application
        android:allowBackup="true"
        android:label="@string/name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme"
        >

        <activity
            android:name=".ui.MainActivity"
            >

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN"
                    />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    />

            </intent-filter>

        </activity>

        <activity
            android:name=".project.ProjectActivity"
            android:parentActivityName=".ui.MainActivity"
            />

        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".ui.MainActivity"
            />

        <provider
            android:label="@string/name"
            android:name=".provider.WorkerProvider"
            android:authorities="me.raatiniemi.worker"
            android:syncable="false"
            android:exported="false"
            />

        <service
            android:name=".service.DataIntentService"
            android:exported="false"
            />

    </application>

</manifest>
